@import 'stylesheets/variables.scss';

.form-wrapper {
  height: 100vh;
  background: url('images/bg.jpg');
}

.form-container {
  max-width: 500px;
  width: 80%;
  border-color: $color-palette2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .heading-palette-2 {
    background-color: $color-palette2;
    border-color: $color-palette2;
    color: $color-white;
    font-size: 22px;
    font-weight: lighter;
  }
}

.form-body {
  padding: 25px 15px;
}

.nav-palette-2 {
  background-color: $color-palette2;
  border-color: $color-palette2;
  border-radius: 0;

  .nav-brand-palette-2 {
    color: $color-white;
    font-size: 22px;
    font-weight: lighter;
  }
}

.nav-user {
  color: $color-white;
  line-height: 50px;
}

.btn-palette-1 {
  background-color: $color-palette1;
  border-color: $color-palette1;
  color: $color-white;

  &:hover,
  &:focus,
  &:active {
    background-color: $color-palette1-darker;
    border-color: $color-palette1-darker;
    color: $color-white;
  }
}

.panel-body {
  height: 300px;
  background-size: cover;
}
